/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ВСЯ СТРАНИЦА */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  background-image: var(--background-page, #fff);
  background-attachment: fixed;
  background-size: cover;
}

/* КОНТЕЙНЕР ДЛЯ КОНТЕНТА */
.container-content {
  margin-inline: auto;
  inline-size: var(--container-width, 100%);
}

/* ГРАНИЦА */
.border-content {
  border: 2px solid #000;
}

/* ШАПКА */
.header {
  background-color: #fff;
  font-family: var(--font-accent, sans-serif);
  text-align: center;
  padding-block: 130px;
  margin-block-start: 100px;
  margin-block-end: 98px;
}

/* заголовок шапки */
.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 14.2857vw, 4.0625rem);
  margin-block-end: 20px;
}

/* подзаголовок шапки */
.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 6.6667vw, 1.4375rem);
}