/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ВСЯ СТРАНИЦА */
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-card-text, 400);
  background-image: var(--background-page, none);
  background-attachment: fixed;
  background-size: cover;
}

/* КОНТЕЙНЕР ДЛЯ КОНТЕНТА */
.container-content {
  margin-inline: auto;
  inline-size: var(--container-width, 100%);
}

/* ГРАНИЦА */
.border-content {
  border: 2px solid var(--border-color, #000);
}

/* ШАПКА */
.header {
  background-color: var(--background-color, #fff);
  font-family: var(--font-accent, sans-serif);
  text-align: center;
  padding-block: 130px;
  margin-block-start: 100px;
  margin-block-end: 98px;
}

/* заголовок шапки */
.header__title {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 5vw, 4.0625rem);
  margin-block-end: 20px;
}

/* подзаголовок шапки */
.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 3vw, 1.44rem);
}

/* ОСНОВНОЙ КОНТЕНТ ! */
.content__list {
  display: grid;
  gap: 49px;
}

/* карточка */
.content__card {
  background-color: var(--background-color, #fff);
}

/* заголовок карточки */
.content__card-title {
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" var(--font-weight-card-title, 715);
  font-size: 18px;
  line-height: 1;
  padding: 4px 10px;
}

/* обёртка для картинки */
.content__card-image-wrapper {
  border-top: 2px solid var(--border-color, #000);
  border-bottom: 2px solid var(--border-color, #000);
  overflow: hidden;
  position: relative;
}

/* лейбл на картинке */
.content__card-label {
  text-transform: uppercase;
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  line-height: 1;
  color: var(--card-label-color, #000);
  opacity: 0.5;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px 0 var(--card-label-shadow, #fff),
    1px 0 var(--card-label-shadow, #fff),
    0 -1px var(--card-label-shadow, #fff),
    0 1px var(--card-label-shadow, #fff);
  z-index: 1;
}

/* проверка работоспобнсоти text-stroke */
@supports (-webkit-text-stroke: 1px var(--card-label-shadow, #fff)) {
  .content__card-label {
    -webkit-text-stroke: 1px var(--card-label-shadow, #fff);
    text-shadow: none;
  }
}

/* картинка карточки */
.content__card-image {
  display: block;
  block-size: 696px;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* фильтры для картинок */
.content__card-image-blur {
  filter: blur(3px);
}

.content__card-image-contrast {
  filter: contrast(3);
}

.content__card-image-sepia {
  filter: sepia(3);
}

.content__card-image-invert {
  filter: invert(1);
}

.content__card-image-many {
  filter: contrast(1.5) blur(1px) hue-rotate(180deg) brightness(0.9);
}

.content__card-image-saturate {
  filter: saturate(5);
}

.content__card-image-hue {
  filter: hue-rotate(180deg);
}

.content__card-image-grayscale {
  filter: grayscale(1);
}

/* текст под картинкой карточки */
.content__card-text {
  font-family: var(--font-main, sans-serif);
  font-variation-settings: "wght" var(--font-weight-card-text, 410);
  font-size: 18px;
  display: grid;
  gap: 25px;
  padding: 25px;
}

/* иконка с кнопкой ! */
.content__card-like {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px;
  gap: 5px;
}

/* кнопка сердце */
.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--focus-color, #000);
}

/* общие стили кнопки */
.button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 2px solid var(--border-color, #000);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position:absolute;
  background-color: var(--button-color-hover, #000);
  inset: 0;
  z-index: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--focus-color, #000);
}

button:hover::before {
  transform: translateX(0);
}

/* кнопка лайк */
.card__like-button {
  inline-size: 130px;
  padding: 10.5px 37px;
}

.button__text {
  font-family: var(--font-accent, sans-serif);
  font-size: 14px;
  line-height: 1;
}

.button .button__text {
  position: relative;
  color: var(--button-color-text, #fff);
  mix-blend-mode: difference;
  z-index: 1;
}

/* СОХРАНИТЬ !*/
.save {
  margin-block-start: 45px;
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
}

.save__button {
  background-color: var(--background-color, #fff);
  padding: 15px 20px;
  gap: 8px;
  isolation: isolate;
}

.save__button-icon {
  color: var(--button-color-text, #fff);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  block-size: 21px;
  inline-size: 21px;
}

/* ВСПЛЫВАЮЩЕЕ ОКНО */
.dialog {
  display: none;
  inline-size: 353px;
  padding: 30px;
  border: 2px solid var(--border-color, #000);
}

.dialog[open] {
  display: grid;
  grid-template-rows: 1fr 40px;
  gap: 30px;
}

.dialog::backdrop {
  background-color: var(--dialog-backdrop, rgb(0 0 0 / 0.75));
}

.dialog__form {
  display: contents;
}

.dialog__content {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  block-size: 39px;
  inline-size: 39px;
}

.dialog__text {
  text-transform: uppercase;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
}

.dialog__button {
  text-transform: uppercase;
  block-size: 38px;
  inline-size: 100%;
}

@media (width <= 375px) {
  /* ШАПКА */
  .header {
    padding-block: 120px;
    margin-block-end: 100px;
  }

  /* ОСНОВНОЙ КОНТЕНТ */
  .content__card-image {
    block-size: 373px;
  }

    /* СОХРАНИТЬ */
  .save__button {
    flex-direction: column;
  }

  .save__button-icon {
    inline-size: 28px;
    block-size: 28px;
  }


  /* ВСПЛЫВАЮЩЕЕ ОКНО */
  .dialog {
    inline-size: 341px;
  }

  .dialog__button {
    inline-size: 261px;
    justify-self: center;
  }
}