/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter', sans-serif; /* основной, используется в карточках */
  --font-accent: 'PressStart2P', sans-serif; /* акцентный, используется в заголовках и кнопках */
  --font-weight-card-title: 715; /* толщина заголовка карточки */
  --font-weight-card-text: 410; /* толщина основного текста карточки */
}